@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: gray;
  font-size: 32px;
}

.date {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
}

.date__month {
  color: blue;
  margin-bottom: 0;
}

.date__day {
  color: red;
  font-size: 400%;
  border-bottom: 1px solid gray;
}

.date__year {
  font-weight: bold;
  margin-top: calc(1em / 2);
}
